body {
    position: relative;
    width: 1352px;
    height: 1117px;
    background: #FFFFFF;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 86px;
    position: absolute;
    width: 1384px;
    height: 101px;
    left: 60px;
    top: 57px;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.14);
    border-radius: 8px;

}

.nav-item {
    width: 169px;
    height: 23px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.circle-area {
    position: absolute;
    width: 26px;
    height: 23px;
    left: 36px;
    top: 39px;

}

.circle-area1 {
    position: absolute;
    width: 11px;
    height: 23px;
    left: -38px;
    top: -40px;

}

.circle-area2 {
    position: absolute;
    width: 11px;
    height: 23px;
    left: -35px;
    top: -40px;
}


.circle1 {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    left: 51px;
    top: 39px;
    background: #2A5852;
}

.circle2 {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    left: 51px;
    top: 51px;
    background: #865546;
}

.circle3 {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    left: 36px;
    top: 39px;
    background: #865546;
}

.circle4 {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    left: 36px;
    top: 51px;
    background: #2A5852;
}

.text3 {
    position: absolute;
    width: 133px;
    height: 20px;
    left: 33px;
    top: 1.5px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);

}

.home {
    position: absolute;
    width: 50px;
    height: 20px;
    left: 291px;
    top: 40.5px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.books {
    position: absolute;
    width: 89px;
    height: 20px;
    left: 427px;
    top: 40.5px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);

}

.contacts {
    position: absolute;
    width: 77px;
    height: 20px;
    left: 602px;
    top: 40.5px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);

}

.formulaire {
    position: absolute;
    width: 1071px;
    height: 293px;
    left: 222px;
    top: 468px;

}

.nom {
    position: absolute;
    width: 487px;
    height: 79px;
    left: 0px;
    top: 43px;
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.17);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.33);
    border-style: none;
}

.text1 {
    position: absolute;
    width: 47px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);

}

.prenom {
    position: absolute;
    width: 487px;
    height: 79px;
    left: 584px;
    top: 43px;
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.17);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.33);
    border-style: none;
}

.text2 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 584px;
    top: 0px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);

}

.livre {
    position: absolute;
    width: 487px;
    height: 79px;
    left: 0px;
    top: 225px;
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.17);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.33);
    border-style: none;
}

.text4 {
    position: absolute;
    width: 47px;
    height: 24px;
    left: 3px;
    top: 184px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);

}

.annee {
    position: absolute;
    width: 487px;
    height: 79px;
    left: 584px;
    top: 225px;
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.17);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.33);
    border-style: none;
}

.text5 {

    position: absolute;
    width: 62px;
    height: 24px;
    left: 584px;
    top: 184px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}

::placeholder {
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(145, 176, 194, 0.39);

}

button {
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(42, 88, 82, 0.97);
    border-radius: 10px;
    border-color: rgba(42, 88, 82, 0.97);
    border-style: none;

}

.content {
    position: absolute;
    width: 213px;
    height: 65px;
    left: 431px;
    top: 403px;
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);

}

.card {
    position: absolute;
    width: 196px;
    height: 149px;
    left: 313px;
    top: 256px;
    border-radius: 8px;
}

.photo {
    position: absolute;
    width: 196px;
    height: 149px;
    left: 313px;
    top: 256px;
    background-color: rgba(140, 133, 133, 0.8);
    
}

.photo img {
    position: absolute;
    width: 274px;
    height: 182px;
    left: -26px;
    top: 0px;

}
